html {
    height: 100%;
    overflow-y: visible;
}

#navbar {
    transition: 0.4s;
}

.divall {
    overflow-x: hidden;
    height: 100%;
}

.header-carousel-item {
    height: 550px;
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .text-md-dark {
        color: #333;
    }
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: rgb(122, 122, 122);
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

#loginModal,
#signModal input[type=text] {
    background: rgb(205, 204, 204, 0.2);
    border: orange;
}

#loginModal,
#signModal ::placeholder {
    color: rgb(169, 169, 169);
}

#loginModal input[type=text] {
    background: rgb(205, 204, 204, 0.2);
    border: orange;
}

#loginModal ::placeholder {
    color: rgb(169, 169, 169);
}


/* Section Scrollspy : A Bootstrap Nav */

.floating-scrollspy {
    display: block;
    position: fixed;
    top: 50%;
    right: 11px;
    z-index: 999;
}

.floating-scrollspy .nav {
    display: block;
}

.floating-scrollspy .nav-link {
    display: block;
    padding: 5px;
    line-height: 0;
    font-size: 0;
}

.floating-scrollspy .nav-link span {
    display: none;
}

.floating-scrollspy .nav-link i {
    width: 10px;
    height: 10px;
    margin: 1em auto;
    display: inline-block;
    background-color: rgb(255, 149, 0);
    opacity: 0.2;
    transition: 0.4s all ease-in-out;
    border-radius: 50%;
}

.floating-scrollspy .nav-link.active i,
.floating-scrollspy .nav-link:hover i {
    opacity: 1.8;
    transition: 1s;
}

.invalid-feedback {
    color: red;
}

.valid-feedback {
    color: rgb(39, 174, 86);
}


/* @media (max-width: 767px) {
    .navbar-toggler {
        border: none;
        outline: none;
    }
} */

#signModal {
    overflow: auto !important;
}
